@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Yeseva+One:regular);


@media screen and (max-width: 1300px) {
    .wrapper {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    }
}

body {
    font-family: Nunito Sans;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.container {
    width: 100%;
    max-width: 1263px;
    margin: 0px auto;
}

.button {
    background: rgba(227, 184, 115, 1);
    border-style: none;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0em;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(246, 167, 39);
    -webkit-transition: 0.5;
    -o-transition: 0.5;
    transition: 0.5;
}

/* ===============================HEADER====================================== */

.header {
    height: 83px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(19, 19, 19, 1);
}

.header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__logo {
    margin-left: 5px;
    width: 180px;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: rgba(227, 184, 115, 1);
}

.header__menu {
    width: 583px;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    
}

.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
}

.header__list a {
    text-decoration: none;
}

.header__list a:link {
    
    color: rgba(255, 255, 255, 1);
}

.header__list a:visited {
    color: rgba(96, 99, 96, 1);
}

.header__list a:focus {
    color: rgba(227, 184, 115, 1);
}

.header__list a:hover {
    border-bottom: 1px solid darkorange;
    color: darkorange;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.header__phone {
    width: 126px;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(227, 184, 115, 1);
}

.button-call  {
    height: 37px;
    width: 161px;
    border-radius: 2px;
}

.button-call span {
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 15px;
}

/* ===============================MAIN====================================== */




.turnkey {
    background: url('image/Group 7.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.turnkey__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 194px 0px 208px 0px;
    width: 680px;
}

.turnkey__article {
    font-family: Yeseva One;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    height: 105px;
    width: 676.109375px;
    left: 135px;
    top: 277px;
    border-radius: nullpx;
    color: rgba(255, 255, 255, 1);

}

.turnkey__article span {
    color: rgba(227, 184, 115, 1);
}

.turnkey__text {
    margin-top: 19px;
    height: 89px;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.turnkey__cost {
    margin-top: 41px;
    
}

.button-calc {
    margin-right: 20px;
    height: 51px;
    width: 207px;
    left: 176px;
    top: 550px;
    border-radius: 2px;
}

.button-app {
    margin-right: 20px;
    height: 51px;
    width: 207px;
    left: 176px;
    top: 550px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 2px;
}

.button-app:hover {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.5);
    
}

.turnkey__cost span {
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 15px;
}

.projects {
    background-color: rgba(19, 19, 19, 1);
    height: 1074px;
}

.projects__row {
    padding-top: 107px;
    margin-bottom: 91px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.projects__article {
    margin-top: 53px;
    width: 442px;
}

.projects__title {
    font-family: Yeseva One;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-align: left;
    color: rgba(227, 184, 115, 1);
}

.projects__text {
    margin-top: 34px;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.projects__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
}

.projects__column {
    margin-top: 34px;
    height: 64px;
    min-width: 161px;
    margin-right: 30px;
}

.projects__subtitle {
    font-family: Yeseva One;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(227, 184, 115, 1);
}

.projects__sentence {
    margin-top: 9px;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.projects__image {
    width: 679px;
}

.projects__list {
    padding: 0px;
}

.projects__list li {
    text-transform: uppercase;
    font-family: Yeseva One;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.3);
}

.projects__list li:first-child {
    color: rgba(227, 184, 115, 1);
    text-decoration: underline;
}

.projects__picture {
    height: 482px;
    width: 679px;
    left: 627px;
    top: 966px;
    border-radius: 0px;
}

.projects__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 206px;
    height: 13.5px;
    margin-top: 80px;
}

.online{
    height: 985px;
}

.online__row {
    width: 817px;
    margin-left: 180px;
    /* margin-top: 91px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: -340px;
    z-index: 1;
}


.online__image {
    margin-top: 32px;
}

.online__image img {
    -webkit-filter: brightness(20%);
            filter: brightness(20%);
}

.online__play {
    width: 85px;
    height: 85px;
    position: relative;
    z-index: 1;
    top: -288px;
    left: -35px;
}

.online__border {
    margin-top: -25px;
    border: 1.55px solid rgba(227, 184, 115, 1);
    width: 55px;
    border-radius: 30px;
}

.online__text {
    width: 681px;
    height: 131px;
    margin-top: 34.5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(54, 54, 54, 1);
}

.online__form {
    margin-top: 91.5px;
    width: 769px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.button-online {
    width: 200px;
    height: 51px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 15px 15px 0px rgba(227, 184, 115, 0.15);
            box-shadow: 0px 15px 15px 0px rgba(227, 184, 115, 0.15);
}

.online__form span {
    font-size: 13px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
}

.online__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.online__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.online__name input {
    border-style: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.online__phone input {
    border-style: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.online__name label {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(54, 54, 54, 0.5);
}

.online__phone label {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(54, 54, 54, 0.5);
}

.online__checkbox {
    margin-top: 40px;
}


.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}


.custom-checkbox + label {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    border: 1px solid rgba(227, 184, 115, 1);
    border-radius: 1px;
    margin-right: 8.62px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .custom-checkbox:checked+label::before {
    border-color: rgba(227, 184, 115, 1);
    background-color: rgba(227, 184, 115, 1);
    background-image: url("image/Vector\ \(4\).svg");
  }

.online__checkbox span {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color:rgba(24, 24, 24, 1);
}

.types {
    height: 708px;
}

.types__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -178px;
    width: 1236px;
   
}

.types__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align:center ;
        -ms-flex-align:center ;
            align-items:center ;
}

.types__title {
    font-family: Yeseva One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.types__logo {
    margin-top: 13px;
    margin-bottom: 31px;
}

.types__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.types__column {
    margin-left: 17px;
}

.types__image {
    height: 421px;
    width: 392px;
}

.types__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 286px;
    width: 330px;
    position: relative;
    bottom: 127px;
    left: 31px;
    background-color: white;
    -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.types__subtitle {
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    padding: 25px 68px 13px 34px;
    color: rgba(54, 54, 54, 1);
}

.types__list {
    font-size: 13px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px 29px 49px 34px;
    color:rgba(149, 149, 149, 1);
}

.types__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -150px;
    position: relative;
    z-index: 2;
    left: 26px;
}

.types__price span {
    font-family: Yeseva One;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.button-price {
    height: 54px;
    width: 228px;
    margin-left: 4px;
    -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
            box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.cost {
    background-image: url("image/image\ 6.1\ \(1\).png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -303px bottom;
}

.cost__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 725px;
    margin-top: 124px;
    
}

.cost__points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 117px;
    margin-bottom: 56px;
    margin-left: 201px;
}

.cost__point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 102px;
}

.cost__point:first-child {
   margin-top: 0px; 
}

.cost__image  img {
    width: 59px;
    height: 59px;
}

.cost__image::after {
    content: '01';
    color: rgb(255, 255, 255);
    position: relative;
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    top: -27px;
    left: -40px;
}

.cost__image-2::after {
    content: '02';
}

.cost__image-3::after {
    content: '03';
}

.cost__image-4::after {
    content: '04';
}

.cost__sentence {
    width: 316px;
    max-height: 39px;
}

.cost__call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 130px;
    left: 210px;
}

.cost__form {
    height: 509px;
    width: 506px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: rgba(19, 19, 19, 1);
    -webkit-box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.05);
}

.cost__title {
    margin-left: 100px;
    margin-top: 28px;
    height: 47px;
    width: 297px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.cost__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 408px;
    margin-left: 49px;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

.cost__name input {
    border-style: none;
    background-color: rgba(19, 19, 19, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: white;
}

.cost__name input::-webkit-input-placeholder {
    color: white;
}

.cost__name input::-moz-placeholder {
    color: white;
}

.cost__name input:-ms-input-placeholder {
    color: white;
}

.cost__name input::-ms-input-placeholder {
    color: white;
}

.cost__name input::placeholder {
    color: white;
}

.cost__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 408px;
    margin-left: 49px;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color:rgba(255, 255, 255, 0.5);
}

.cost__phone input {
    border-style: none;
    background-color: rgba(19, 19, 19, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.cost__phone input::-webkit-input-placeholder {
    color: white;
}

.cost__phone input::-moz-placeholder {
    color: white;
}

.cost__phone input:-ms-input-placeholder {
    color: white;
}

.cost__phone input::-ms-input-placeholder {
    color: white;
}

.cost__phone input::placeholder {
    color: white;
}

.cost__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 408px;
    margin-left: 49px;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color:rgba(255, 255, 255, 0.5);
}

.cost__email input {
    border-style: none;
    background-color: rgba(19, 19, 19, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.cost__email input::-webkit-input-placeholder {
    color: white;
}

.cost__email input::-moz-placeholder {
    color: white;
}

.cost__email input:-ms-input-placeholder {
    color: white;
}

.cost__email input::-ms-input-placeholder {
    color: white;
}

.cost__email input::placeholder {
    color: white;
}

.cost__checkbox {
    margin-top: -35px;
    margin-left: 49px;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color:rgba(255, 255, 255, 1);
}

.cost__button {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 49px;
    margin-bottom: 27px;
}

.button-cost {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    height: 51px;
    width: 213px;
} 

.cost__sale {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 38.5px;
    width: 445px;
    height: 72px;
    margin-left: 25px;
}


.cost__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(227, 184, 115, 1);
    -ms-flex-item-align: last baseline;
        -ms-grid-row-align: last baseline;
        align-self: last baseline;
}

.styles {
    margin-top: 242px;
    background-image: url("image/image\ 5.1.png");
    background-size: cover;
    position: relative;
   
}

.styles__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 864px;
    width: 1440px;
    
}

.styles:after {
	content: '';
	display: block;
	width: 100%;
	height: 864px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, 0.75);
    z-index: 2;
}

.styles__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    z-index: 3;
    margin-top: 138px;
    margin-left: 99px;
    margin-right: 77px;
}

.styles__title {
    font-family: Yeseva One;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(227, 184, 115, 1);
}

.styles__list {
    width: 299px;
    height: 516px;
    margin-bottom: 97.5px;
    padding-left: 0px;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}

.styles__list li {
    margin-bottom: 25px;
    height: 24px;
    width: 248px;
}

.styles__list li:first-child {
    text-decoration: underline;
    color: rgba(227, 184, 115, 1);
}

.styles__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 759px;
    height: 906px;
    margin-right: 102px;
    position: relative;
    z-index: 3;
}

.styles__image_1 {
    margin-top: -41.5px;
    height: 558px;
    width: 354px;
    margin-right: 43px;
}

.styles__image_3 {
    margin-top: -112.5px;
    margin-bottom: 0px;
    height: 275px;
    width: 354px;
}

.styles__image_4 {
    position: relative;
    top: -80px;
    height: 625px;
    width: 354px;
}

.styles__image_2 {
    margin-top: 39.1px;
    height: 349.5px;
    width: 354px;
    margin-right: 43px;
}

.clients__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 110.5px;
}

.clients__title {
    font-family: Yeseva One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    color: rgba(24, 24, 24, 1);
}

.clients__logo {
    margin-top: 13.2px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.clients__text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 24.2px;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(54, 54, 54, 1);
}

.clients__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 39px 13.5px 0px 13.5px;
}

.clients__column {
    height: 428px;
    min-width: 376px;
    margin-right: 54px;
    -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    background-color: rgba(255, 255, 255, 1);
}

.clients__column:last-child {
    margin-right: 0px;
}

.clients__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.clients__photo {
    margin: 25px 20px 11.5px 20px;
}

.clients__photo img {
    border-radius: 50%;
}

.clients__name {
    margin: 41px 79px 39px 1px;
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(24, 24, 24, 1);

}
.clients__main {
    margin: 0px 32px 90px 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(149, 149, 149, 1);
}


.clients__footer button {
    border-style: none;
    height: 54px;
    width: 294px;
    background-color: white;
}

.clients__footer button:hover {
    cursor: pointer;
}

.clients__footer img {
    margin-left: -21px;
    margin-top: -43px;
    margin-bottom: 0px;
}

.skyscraper {
    background-image: url("image/Frame2.png"), url("image/Frame.png");
    min-height: 313px;
    background-size: cover;
}

.question__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 445.5px;
    min-width: 883px;
    margin-top: -132px;
    margin-left: 198px;
    margin-right: 182px;
    margin-bottom: 59px;
    background-color: rgba(19, 19, 19, 1);
    position: relative;
    z-index: 1;
}

.question__title {
    margin-top: 34.5px;
    font-family: Yeseva One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);

}
.question__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 46px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: rgba(255, 255, 255, 0.5);
}

.question__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 58px;
    width: 231px;
}

.question__name input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1);
}

.question__name input::-moz-placeholder {
    color: rgba(255, 255, 255, 1);
}

.question__name input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 1);
}

.question__name input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 1);
}

.question__name input::placeholder {
    color: rgba(255, 255, 255, 1);
}

.question__name input {
    border-style: none;
    background-color: rgba(19, 19, 19, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.question__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 231px;
}

.question__phone input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1);
}

.question__phone input::-moz-placeholder {
    color: rgba(255, 255, 255, 1);
}

.question__phone input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 1);
}

.question__phone input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 1);
}

.question__phone input::placeholder {
    color: rgba(255, 255, 255, 1);
}

.question__phone input {
    border-style: none;
    background-color: rgba(19, 19, 19, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.question__question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 49px;
    color: rgba(255, 255, 255, 0.5);
}

.question__question input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1);
}

.question__question input::-moz-placeholder {
    color: rgba(255, 255, 255, 1);
}

.question__question input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 1);
}

.question__question input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 1);
}

.question__question input::placeholder {
    color: rgba(255, 255, 255, 1);
}

.question__question input {
    border-style: none;
    background-color: rgba(19, 19, 19, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.question__checkbox {
    margin: 47px 111px 0px 111px;
    color: rgba(255, 255, 255, 1);
}

.question__button {
    margin-top: 50.5px;
    margin-left: 156px;
}

.button-question {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    height: 51px;
    width: 213px;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(227, 184, 115, 0.1);
            box-shadow: 0px 5px 20px 0px rgba(227, 184, 115, 0.1);
}

.button-question:hover {
    cursor: pointer;
}

.map {
    min-height: 954px;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3.47%, rgb(10, 10, 10)), to(rgba(16, 16, 16, 0.72))), url('image/image\ 7.2.png');
    background-image: -o-linear-gradient(top, rgb(10, 10, 10) 3.47%, rgba(16, 16, 16, 0.72) 100%), url('image/image\ 7.2.png');
    background-image: linear-gradient(180deg, rgb(10, 10, 10) 3.47%, rgba(16, 16, 16, 0.72) 100%), url('image/image\ 7.2.png');
}

.map__row {
    margin-top: -286px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    z-index: 5;
}

.map__title {
    position: relative;
    top: 273px;
    text-transform: uppercase;
    font-family: Yeseva One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(227, 184, 115, 1);
}

.map__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 300px;
}

.map__map {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 465px;
    width: 925px;
    margin-top: 45px;
    
}

.map__mail {
    margin-right: 15px;
}
